/* import google font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lobster&family=Manrope&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");
/********* Common css styles ***********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Inter", sans-serif; */
    font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
    max-width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    color: #121212;
}
p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}
img {
    max-width: 100%;
}
.btn-primary {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background: #ff5959;
    border: 1px solid #ff5959;
    border-radius: 5px;
    padding: 16px 12px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.btn-primary:hover {
    background-color: #ffffff;
    color: #ff5959;
    border: 1px solid #ff5959;
}

/**************** Header css styles ****************/
header {
    height: 665px;
    background-image: url("./images/Rectangle 237.jpg");
    background-repeat: no-repeat;
}
header .banner-text {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    padding: 170px 260px;
    text-align: center;
}
.banner-text .banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    color: #ffffff;
}
.banner-text .banner-para {
    color: #ffffff;
    margin: 20px 0 30px;
    padding: 0 60px;
}

/******** Main sec css styles ********/
main {
    padding: 0 150px;
}
main .section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 20px;
}
main .section-para {
    padding: 0 170px;
}

/* Donate Today section styles */
.donate-today {
    margin: 100px 0;
    text-align: center;
}
.donate-today .donate-cost {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 37px;
}
.donate-today .donate-cost h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 123px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #707070;
    background: #fafafa;
    border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.donate-today .donate-cost h3:hover {
    background: #ffeeee;
    border: 2px solid #ff5959;
    color: #ff5959;
}
.donate-today .other-amount {
    color: #b3b3b3;
    margin: 60px 0 10px;
}
.donate-today hr {
    border: none;
    border-top: 1px solid #dadada;
    width: 975px;
    margin: 0 auto 30px;
}

/* Donate plan section styles */
.donate-plan {
    text-align: center;
    margin-bottom: 100px;
}
.donate-plan .plan-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: left;
}
.donate-plan .plan-card-container .plan-card {
    width: 325px;
    height: 352px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 22px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.donate-plan .plan-card-container .plan-card:hover {
    background: rgba(79, 157, 166, 0.1);
}
.plan-card img {
    width: 58px;
    height: 48px;
    margin: 40px 0 30px;
}
.plan-card h4 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    margin-bottom: 15px;
}
.plan-card p {
    font-size: 16px;
    line-height: 24px;
}

/*********** Contribute section styles *************/
.contribute-sec .content-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.content-container .content {
    width: 47%;
}
.content-container img {
    width: 47%;
    height: 380px;
}
.content-container .content p {
    margin-bottom: 30px;
}

/*********** Updates section styles **********/
.update-sec {
    margin-bottom: 100px;
    text-align: center;
}
.update-sec form {
    width: 800px;
    height: 200px;
    background-color: #fff4d6;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-sec input[type="email"] {
    font-family: "Roboto", sans-serif;
    width: 275px;
    height: 48px;
    padding: 14px 10px 14px 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #aa9f9f;
    background: #d9d9d9;
    border-radius: 5px 0px 0px 5px;
    border: none;
}
.update-sec input[type="submit"] {
    width: 157px;
    height: 48px;
    background: #ff5959;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #ff5959;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.update-sec input[type="submit"]:hover {
    border: 1px solid #ff5959;
    background-color: #fff4d6;
    color: #ff5959;
}

/************ Footer section styles ************/
footer {
    background-color: #1e1e1e;
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h1 {
    font-family: "Lobster";
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #ff5959;
    text-align: center;
}
footer p {
    margin-top: 24px;
    font-family: "Manrope";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: "liga" off;
    color: #d9dbe1;
    text-align: center;
}
